{% extends 'base.html.twig' %}

{% block title %}Gallery Room{% endblock %}

{% block body %}

{{ include('commons/_navigation.html.twig') }}
    <section id="banner-about">
        <p>GALLERY ROOM /</p>
    </section>

    <section id="articles-container">
        {% for article in articles %}
            <div class="article-item">
                <div>
                {% if article.illustration %}
                <a href="{{ path('app_articles_show', {'id': article.id}) }}">
                    <img class="article-image" src="{{ asset('upload_directory/' ~ article.illustration)}}" alt={{article.illustration}}></a>
                {% endif %}
                <p>{{ article.title }}</p>
                </div>
            </div>
        {% endfor %}
    </section>

{{ include('commons/_footer.html.twig') }}
{% endblock %}
