{% extends 'base.html.twig' %}

{% block title %}DESIGN{% endblock %}

{% block body %}

{{ include('commons/_navigation.html.twig') }}

<section id="banner-about">
    <p>DESIGN /</p>
</section> 
    
<section id="design-container">

    <div class="design-image">
        <img class="article-image" src="{{ asset('upload_directory/' ~ articles.illustration)}}" alt={{articles.illustration}}></img>
    </div>

<section class="design-text-container">

        <div class="design-title">
            <p>DESIGN # {{articles.id}}</p>
        </div>

        <div class="design-name">
            <p class="p-name">NAME : {{articles.title}}</p>
        </div>

        <div class="design-year">
            <p>YEAR OF CREATION : {{articles.year}}</p>
        </div>

        <div class="design-bar">
        </div>

        <div class="design-text">
            <p>INSIDE THE MIND :</p>
        </div>

        <div class="design-bio">
            <p>Desc : {{articles.description}}</p>
        </div>

        <div class="design-contact">
            <a href="#">ESTIMATE</a>
        </div>
</section>

</section>

{{ include('commons/_footer.html.twig') }}
{% endblock %}